body {
  background-image: url("fond.jpg");
  background-size: cover;
  min-height: 100vh;
  margin: 0;
}

.sidebar-content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.question-list {
  padding: 15px;
}

.question {
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 15px;
}

a {
  color: #007bff;
}

.button-spacing {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.sidebar {
  height: 100vh;
  background-color: #4B4B4B;
}

