/* Réinitialisation des marges et des paddings */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Liens */
.back-link {
    display: block;
    margin-bottom: 20px;
    color: #007bff;
    text-decoration: none;
}

/* Conteneur principal */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    text-align: center;
}

/* Question */
.question {
    margin-bottom: 40px;
}

.question h1 {
    font-size: 32px;
    font-weight: bold;
    color: #000;
}

.question hr {
    border: 1px solid #000;
    margin: 20px 0;
}

.question h2 {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
}

.question p {
    font-size: 18px;
    color: #000;
}

/* Réponse */
.answer {
    margin-bottom: 40px;
}

.answer h2 {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
}

.answer p {
    font-size: 18px;
    color: #000;
}