body {
  background-image: url(background_image.jpg);
  background-repeat: repeat;
  font-family: calibri;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title {
	text-align: center;
	font-weight: bold;
	margin-bottom: 5rem;
}

.card {
  background-color: white;
  padding: 5rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.form-group {
  margin-bottom: 1rem;
  width: 100%;
}

.btn {
  margin-top: 1rem;
  width: 100%;
}

.connectButton {
	background-color: #DCDCDD;
}




