.modif{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    
    
}

button{
    background: #007BFF;
    border-radius: 10px;
    padding: 1.9%;
}
button:hover {
    background-color: #2600ff;
}
.form-label{
    color: #007BFF;
}
.btn{
    margin-right: 3%;
    border-radius: 10px;
}
.bouton{
    margin-top: 2%;
    text-align: center;
    border-radius: 55px;
}
.bouton + button {
    margin-right: 5%;
}
#form-content{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}

h1{
    margin-top: 5%;
    text-align: center;
}
div{
    margin-top: 20px;
}

textarea {
    border: 1px solid #007BFF;
  }
